body {
    background: #0f0f10;
    color: white;
    text-align: center;
    font-family: Arial;
}

#container {
    margin-top: 20px;
}

video {
    width: 42%;
    border-radius: 10px;
    border: 2px solid #333;
    margin: 10px;
}
button {
    padding: 10px 18px;
    background: #1a73e8;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}
button:hover {
    background: #0b62d1;
}
